@use "../abstract/variable" as var;

.font-ta {
  font-family: var.$font-tamil;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}
