@use "../abstract/variable" as var;

.font-ta {
  font-family: var.$font-tamil;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}

.line {
  width: 6rem;
  height: 0.5rem;
  border-radius: 6px;
  margin: 30px auto;
  background: linear-gradient(to right, #e24997, #2d2ed4);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.font-weight-400 {
  font-weight: 400;
}

.hidden {
  display: none;
}
