@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
}

.font-ta {
  font-family: "Mukta Malar", sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}

.line {
  width: 6rem;
  height: 0.5rem;
  border-radius: 6px;
  margin: 30px auto;
  background: linear-gradient(to right, #e24997, #2d2ed4);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.font-weight-400 {
  font-weight: 400;
}

.hidden {
  display: none;
}

.btn, .btn-primary-outlined, .btn-primary {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
.btn-primary {
  background-color: #3f43fd;
  color: #fff;
}
.btn-primary:hover {
  background-color: #3135e8;
}
.btn-primary-outlined {
  background-color: #fff;
  border: 2px solid #3f43fd;
  color: #3f43fd;
}
.btn-primary-outlined:hover {
  background-color: #3f43fd;
  color: #fff;
}

.badge, .badge-primary {
  padding: 0px 10px;
  border-radius: 10px;
}
.badge-primary {
  background-color: #3f43fd;
  color: #fff;
}

.form-control {
  padding: 0.8rem 1.5rem;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  outline: none;
}
.form-control:focus {
  border: 2px solid #3f43fd;
}

.resize-x {
  resize: horizontal;
}

.resize-y {
  resize: vertical;
}

.resize-none {
  resize: none;
}

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 15rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    padding: 1rem 20rem;
  }
}
@media only screen and (max-width: 576px) {
  .header h2 > span {
    font-size: 1rem;
  }
}
.header .nav-toggler {
  display: none;
}
@media only screen and (max-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav-toggler {
    display: none;
  }
}
.header--menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .header--menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0080ff;
    z-index: 1;
    transition: 500ms;
  }
  .header--menu.show {
    display: block;
    text-align: center;
    top: 64px;
  }
  .header--menu li {
    padding: 2rem;
  }
  .header--menu li a {
    color: #fff;
  }
  .header--menu li a.active {
    color: #000;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header--menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0080ff;
    z-index: 1;
    transition: 500ms;
  }
  .header--menu.show {
    display: block;
    text-align: center;
    top: 64px;
  }
  .header--menu li {
    padding: 2rem;
  }
  .header--menu li a {
    color: #fff;
  }
  .header--menu li a.active {
    color: #000;
  }
}
@media only screen and (min-width: 992px) {
  .header--menu {
    display: flex;
  }
}
.header--menu__item > a {
  margin-right: 1.5rem;
  font-size: 14px;
  font-weight: 600;
  color: #242424;
  transition: 200ms;
}
.header--menu__item > a:hover {
  color: #3f43fd;
}
.header--menu__item > a.active {
  color: #3f43fd;
}
.header.navbar-fixed {
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0 #e6e6e6;
  z-index: 999;
}

@media only screen and (max-width: 576px) {
  .background-shapes {
    display: none;
  }
}
.background-shapes .box1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .box2 {
  position: absolute;
  top: 80%;
  left: 60%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box2 {
    top: 75%;
    left: 75%;
  }
}
.background-shapes .box3 {
  position: absolute;
  top: 30%;
  left: 90%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot1 {
  position: absolute;
  top: 77%;
  left: 6%;
  width: 8px;
  height: 8px;
  background-color: #3f43fd;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot2 {
  position: absolute;
  top: 18%;
  right: 4%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot2 {
    top: 22%;
    left: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot2 {
    top: 15%;
  }
}
.background-shapes .dot3 {
  position: absolute;
  top: 90%;
  left: 43%;
  width: 8px;
  height: 8px;
  background-color: #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot4 {
  position: absolute;
  top: 91%;
  right: 5%;
  width: 8px;
  height: 8px;
  background-color: #3f43fd;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .heart1 {
  font-size: 1.5rem;
  position: absolute;
  top: 51%;
  left: 13%;
  z-index: -1;
  color: #f4284a;
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .heart1 {
    top: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .heart1 {
    top: 40%;
    left: 5%;
  }
}
.background-shapes .heart2 {
  font-size: 1.5rem;
  position: absolute;
  top: 55%;
  right: 8%;
  z-index: -1;
  color: #f4284a;
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 992px) {
  .background-shapes .heart2 {
    top: 60%;
    right: 5%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart2 {
    top: 55%;
    right: 5%;
  }
}
.background-shapes .circle1 {
  position: absolute;
  top: 80%;
  left: 21%;
  width: 15px;
  height: 15px;
  border: 3px solid #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .circle1 {
    top: 90%;
  }
}
.background-shapes .circle2 {
  position: absolute;
  top: 24%;
  left: 52%;
  width: 15px;
  height: 15px;
  border: 3px solid #f4284a;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .circle2 {
    top: 10%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .circle2 {
    top: 15%;
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
  background-color: #3f43fd;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  footer h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  footer h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  footer h2 {
    font-size: 1.5rem;
  }
}
footer p {
  color: #e8e8e8;
}
@media only screen and (max-width: 576px) {
  footer p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  footer p {
    font-size: 0.9rem;
  }
}
footer a {
  color: #fff;
}
footer a:hover {
  text-shadow: 2px 2px 10px #000;
}
footer .social-icons > a > i {
  transition: 500ms;
  font-size: 1.5rem;
  padding: 0 10px;
  color: #1619a0;
}
footer .social-icons > a > i:hover {
  color: #e0e0e0;
}
footer .legal {
  font-size: 0.9rem;
}

@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
@keyframes box-shape {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.m-1 {
  margin: spacerem !important;
}

.p-1 {
  padding: spacerem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.m-2 {
  margin: spacerem !important;
}

.p-2 {
  padding: spacerem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-3 {
  margin: spacerem !important;
}

.p-3 {
  padding: spacerem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.m-4 {
  margin: spacerem !important;
}

.p-4 {
  padding: spacerem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.m-5 {
  margin: spacerem !important;
}

.p-5 {
  padding: spacerem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.m-6 {
  margin: spacerem !important;
}

.p-6 {
  padding: spacerem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.m-7 {
  margin: spacerem !important;
}

.p-7 {
  padding: spacerem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.m-8 {
  margin: spacerem !important;
}

.p-8 {
  padding: spacerem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.m-9 {
  margin: spacerem !important;
}

.p-9 {
  padding: spacerem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.m-10 {
  margin: spacerem !important;
}

.p-10 {
  padding: spacerem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.pr-10 {
  padding-right: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.pl-10 {
  padding-left: 10rem !important;
}

.m-12 {
  margin: spacerem !important;
}

.p-12 {
  padding: spacerem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.pt-12 {
  padding-top: 12rem !important;
}

.mr-12 {
  margin-right: 12rem !important;
}

.pr-12 {
  padding-right: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.pb-12 {
  padding-bottom: 12rem !important;
}

.ml-12 {
  margin-left: 12rem !important;
}

.pl-12 {
  padding-left: 12rem !important;
}

.m-14 {
  margin: spacerem !important;
}

.p-14 {
  padding: spacerem !important;
}

.mt-14 {
  margin-top: 14rem !important;
}

.pt-14 {
  padding-top: 14rem !important;
}

.mr-14 {
  margin-right: 14rem !important;
}

.pr-14 {
  padding-right: 14rem !important;
}

.mb-14 {
  margin-bottom: 14rem !important;
}

.pb-14 {
  padding-bottom: 14rem !important;
}

.ml-14 {
  margin-left: 14rem !important;
}

.pl-14 {
  padding-left: 14rem !important;
}

.m-16 {
  margin: spacerem !important;
}

.p-16 {
  padding: spacerem !important;
}

.mt-16 {
  margin-top: 16rem !important;
}

.pt-16 {
  padding-top: 16rem !important;
}

.mr-16 {
  margin-right: 16rem !important;
}

.pr-16 {
  padding-right: 16rem !important;
}

.mb-16 {
  margin-bottom: 16rem !important;
}

.pb-16 {
  padding-bottom: 16rem !important;
}

.ml-16 {
  margin-left: 16rem !important;
}

.pl-16 {
  padding-left: 16rem !important;
}

.m-18 {
  margin: spacerem !important;
}

.p-18 {
  padding: spacerem !important;
}

.mt-18 {
  margin-top: 18rem !important;
}

.pt-18 {
  padding-top: 18rem !important;
}

.mr-18 {
  margin-right: 18rem !important;
}

.pr-18 {
  padding-right: 18rem !important;
}

.mb-18 {
  margin-bottom: 18rem !important;
}

.pb-18 {
  padding-bottom: 18rem !important;
}

.ml-18 {
  margin-left: 18rem !important;
}

.pl-18 {
  padding-left: 18rem !important;
}

.m-20 {
  margin: spacerem !important;
}

.p-20 {
  padding: spacerem !important;
}

.mt-20 {
  margin-top: 20rem !important;
}

.pt-20 {
  padding-top: 20rem !important;
}

.mr-20 {
  margin-right: 20rem !important;
}

.pr-20 {
  padding-right: 20rem !important;
}

.mb-20 {
  margin-bottom: 20rem !important;
}

.pb-20 {
  padding-bottom: 20rem !important;
}

.ml-20 {
  margin-left: 20rem !important;
}

.pl-20 {
  padding-left: 20rem !important;
}

.space-x-1 > * {
  margin-right: 1rem;
}

.space-y-1 > * {
  margin-bottom: 1rem;
}

.space-x-2 > * {
  margin-right: 2rem;
}

.space-y-2 > * {
  margin-bottom: 2rem;
}

.space-x-3 > * {
  margin-right: 3rem;
}

.space-y-3 > * {
  margin-bottom: 3rem;
}

.space-x-4 > * {
  margin-right: 4rem;
}

.space-y-4 > * {
  margin-bottom: 4rem;
}

.space-x-5 > * {
  margin-right: 5rem;
}

.space-y-5 > * {
  margin-bottom: 5rem;
}

.hero-area {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .hero-area {
    padding: 4rem 2rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area {
    padding: 4rem 2rem;
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area {
    padding: 8rem 6rem;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area {
    padding: 8rem 20rem;
    justify-content: space-between;
  }
}
.hero-area img {
  width: 25rem;
}
@media only screen and (min-width: 1200px) {
  .hero-area img {
    width: 30rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area img {
    width: 40rem;
  }
}
.hero-area--contents {
  max-width: 34rem;
}
@media only screen and (min-width: 992px) {
  .hero-area--contents {
    max-width: 25rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area--contents {
    max-width: 40rem;
  }
}
.hero-area--title {
  font-size: 3rem;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .hero-area--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area--title {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area--title {
    font-size: 3rem;
  }
}
.hero-area--title > span {
  font-size: 1.5rem;
}
@media only screen and (min-width: 1400px) {
  .hero-area--title > span {
    font-size: 3rem;
  }
}
.hero-area--desc {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: gray;
}
@media only screen and (max-width: 576px) {
  .hero-area--desc {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--desc {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--desc {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-area--desc {
    font-size: 1.2rem;
  }
}

.about-area {
  padding: 8rem 20rem;
  background-color: #3f43fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11rem;
}
@media only screen and (max-width: 576px) {
  .about-area {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .about-area {
    padding: 8rem 6rem;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area {
    padding: 8rem 15rem;
  }
}
@media only screen and (min-width: 1400px) {
  .about-area {
    padding: 8rem 20rem;
  }
}
.about-area--img {
  width: 32rem;
}
@media only screen and (min-width: 576px) {
  .about-area--img {
    width: 20rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--img {
    width: 64rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--img {
    width: 100rem;
  }
}
.about-area--contents {
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .about-area--contents {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--contents {
    margin: 0;
  }
}
.about-area--contents h2 {
  font-size: 3rem;
}
@media only screen and (max-width: 576px) {
  .about-area--contents h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--contents h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .about-area--contents h2 {
    font-size: 3rem;
  }
}
.about-area--contents p {
  line-height: 2;
  color: #cfcfcf;
}
@media only screen and (max-width: 576px) {
  .about-area--contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1400px) {
  .about-area--contents p {
    font-size: 1rem;
  }
}
.about-area--contents p a {
  color: #fff;
}
.about-area--contents p a:hover {
  text-shadow: 10px 20px 30px black;
}

.roadmap {
  padding: 8rem 20rem;
}
@media only screen and (max-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap {
    padding: 8rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .roadmap {
    padding: 8rem 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap {
    padding: 8rem 10rem;
  }
}
.roadmap--heading {
  text-align: center;
}
.roadmap--heading h5 {
  font-size: 2rem;
}
.roadmap--heading p {
  color: gray;
}
.roadmap--items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media only screen and (max-width: 576px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--items {
    flex-direction: row;
  }
}
.roadmap--item {
  transition: 500ms;
  position: relative;
  padding: 3rem 1rem;
  text-align: center;
  max-width: 350px;
  cursor: pointer;
  filter: grayscale(100%);
  margin-left: 3rem;
}
@media only screen and (min-width: 992px) {
  .roadmap--item {
    max-width: 600px;
    padding: 0;
  }
}
.roadmap--item:hover .roadmap--item__img::after {
  animation: rotate-infinite 4000ms linear infinite;
}
.roadmap--item__img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
}
.roadmap--item__img img {
  width: 60px;
  margin-top: 25px;
}
.roadmap--item__img::after {
  position: absolute;
  top: 0;
  left: -5px;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px dotted #3f43fd;
  border-radius: 50%;
}
.roadmap--item__contents {
  margin-top: 2rem;
}
.roadmap--item__contents h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media only screen and (min-width: 992px) {
  .roadmap--item__contents h5 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap--item__contents h5 {
    font-size: 1.5rem;
  }
}
.roadmap--item__contents p {
  color: gray;
  line-height: 1.5;
}
@media only screen and (min-width: 992px) {
  .roadmap--item__contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap--item__contents p {
    font-size: 1rem;
  }
}
.roadmap--item:not(:last-child)::before {
  transition: 500ms;
  position: absolute;
  top: 35%;
  right: -30%;
  content: "\f054";
  width: 70px;
  height: 70px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 3rem;
  z-index: 1;
  line-height: 1;
  color: #020702;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f107";
    top: 90%;
    left: 35%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f107";
    top: 90%;
    left: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f054";
    top: 35%;
    left: auto;
    right: -30%;
  }
}
.roadmap--item:hover:not(:last-child)::before {
  color: #3f43fd;
  right: -32%;
}
.roadmap--item:hover:last-child::after {
  position: absolute;
  top: 35%;
  right: -30%;
  content: "😊👍";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 3rem;
  z-index: 1;
  line-height: 1;
  color: #3f43fd;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:hover:last-child::after {
    top: 90%;
    left: -20%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:hover:last-child::after {
    top: 90%;
    left: -20%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:hover:last-child::after {
    top: 100%;
    left: -20%;
  }
}
@media only screen and (min-width: 1400px) {
  .roadmap--item:hover:last-child::after {
    top: 35%;
    left: auto;
    right: -30%;
  }
}
.roadmap--item:hover h5 {
  color: #3f43fd;
}
.roadmap--item:hover {
  filter: grayscale(0);
}

.courses {
  padding: 8rem 20rem;
  background-color: #3f43fd;
}
@media only screen and (max-width: 576px) {
  .courses {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses {
    padding: 8rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .courses {
    padding: 8rem 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .courses {
    padding: 8rem 10rem;
  }
}
.courses--heading {
  text-align: center;
}
.courses--heading h2 {
  font-size: 2rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .courses--heading h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses--heading h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .courses--heading h2 {
    font-size: 2rem;
  }
}
.courses--heading p {
  color: #dfdfdf;
}
@media only screen and (max-width: 576px) {
  .courses--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1400px) {
  .courses--heading p {
    font-size: 1rem;
  }
}
.courses-cards {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .courses-cards {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .courses-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .courses-cards {
    flex-direction: row;
    align-items: center;
  }
}
.courses-card {
  background-color: #fff;
  max-width: 380px;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .courses-card {
    max-width: 280px;
  }
}
@media only screen and (min-width: 1400px) {
  .courses-card {
    max-width: 350px;
  }
}
.courses-card--img {
  width: 380px;
}
@media only screen and (min-width: 992px) {
  .courses-card--img {
    width: 280px;
  }
}
@media only screen and (min-width: 1400px) {
  .courses-card--img {
    width: 350px;
  }
}
.courses-card--body {
  padding: 2rem;
}
.courses-card--body h4 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .courses-card--body h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses-card--body h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses-card--body h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .courses-card--body h4 {
    font-size: 1.5rem;
  }
}
.courses-card--body p {
  color: gray;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .courses-card--body p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses-card--body p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses-card--body p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1400px) {
  .courses-card--body p {
    font-size: 1rem;
  }
}
.courses-card a {
  color: rgba(0, 0, 0, 0.938);
}
.courses-card:hover {
  box-shadow: 2px 2px 20px 5px rgba(54, 54, 54, 0.5);
}
.courses--info {
  text-align: center;
  color: whitesmoke;
}
.courses--info a {
  color: #fff;
}
.courses--info a:hover {
  text-shadow: 2px 2px 10px #000;
}

.contact {
  padding: 8rem 20rem;
  background-color: #e0e0e0;
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    padding: 8rem 6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact {
    padding: 8rem 20rem;
  }
}
.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 576px) {
  .contact-card {
    flex-direction: column;
    padding: 2rem;
    align-items: initial;
  }
}
@media only screen and (min-width: 576px) {
  .contact-card {
    flex-direction: column;
    padding: 2rem;
    align-items: initial;
  }
}
@media only screen and (min-width: 992px) {
  .contact-card {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .contact-card img {
    width: 30rem;
  }
}
.contact-card--contents {
  flex-grow: 1;
}
.contact-card--contents h4 {
  font-size: 1.2rem;
}
@media only screen and (max-width: 576px) {
  .contact-card--contents h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact-card--contents h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-card--contents h4 {
    font-size: 1.2rem;
  }
}
.contact-card--contents p {
  color: gray;
}
@media only screen and (max-width: 576px) {
  .contact-card--contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact-card--contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-card--contents p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
