@use "../abstract/mixins" as mixins;

.hero-area {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mixins.responsive(xs) {
    padding: 4rem 2rem;
    flex-direction: column;
  }

  @include mixins.responsive(sm) {
    padding: 4rem 2rem;
    flex-direction: column;
  }

  img {
    width: 25rem;
  }

  &--contents {
    max-width: 34rem;
  }

  &--title {
    font-size: 3rem;
    font-weight: 600;

    @include mixins.responsive(xs) {
      font-size: 2rem;
    }

    @include mixins.responsive(sm) {
      font-size: 1.5rem;
    }

    & > span {
      font-size: 1.5rem;
    }
  }

  &--desc {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    color: gray;

    @include mixins.responsive(xs) {
      font-size: 0.9rem;
    }

    @include mixins.responsive(sm) {
      font-size: 0.9rem;
    }
  }
}
